<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs370.gwtm.destinygearandguns" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_destinylogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplayCharactersActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DisplayInventoryActivity"
            android:label="@string/title_activity_display_inventory"
            android:parentActivityName=".activity.DisplayCharactersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DisplayCharactersActivity" />
        </activity>
        <activity
            android:name=".activity.InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
    </application>

</manifest>
